body {
    overflow: scroll;
  }
  .container {
    border-radius: 20px;
    /* background-color: rgb(49, 186, 201); */
    background-color:#ffffff;
    background-color:rgba(255, 255, 255, 0.721); 
    padding: 25px;
    width:90%;
    margin:auto;
    margin-top: 50px;
    box-shadow: 0 3px 15px rgba(0,0,0,.8);
  }
  .container>.my-menu{
   text-align: center;
   width: fit-content;
   margin: auto; 
  }
  .container.chart1{
    width: 85%;
    margin: auto;
    text-align: center;
    margin-bottom: 25px;
  }
  .leftbox{
    float:left;
    /* width:25%; */
    /* height:180px; */
  }
  .rightbox{
    float:right;
    /* width:25%; */
    /* height:180px; */
  }
  img{
    border-radius: 15px;
     margin-left:6px;
     margin-top:6px;
     box-shadow: 0 3px 15px rgba(0,0,0,.4);
     cursor: pointer;
  }
  .bg-image {
    filter: blur(8px);
    -webkit-filter: blur(12px); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     border-radius:10px;
  }
  
  .bg-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 2px solid #f1f1f1;
    border-radius:25px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    height:58%;
    padding: 1px;
    text-align: center;
  }
  .footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
    margin-top:470px;
    box-shadow: 0 3px 15px rgba(0,0,0,.8);
    border-radius:5px;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.5;
    font-size:13px;
    margin-bottom:0;
  }
  .fa:hover {
      opacity: 2;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-facebook:hover {
    opacity: 0.7;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-twitter:hover {
  opacity: 0.7;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-linkedin:hover {
  opacity: 0.7;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-instagram:hover {
  opacity: 0.7;
  }

  canvas{
    margin: 0 auto;
  }

  h1{
    text-align: center;
    font-weight: bold;
    color: rgb(31, 31, 240);
    padding: auto;
  }

  hr{
    margin-top: 25px;
    margin-bottom: 25px;
  }

  label{
    
    margin: 0 auto;
    text-align: center;
  }