   img{
    border-radius: 15px;
     margin-left:6px;
     margin-top:6px;
     box-shadow: 0 3px 15px rgba(0,0,0,.4);
     cursor: pointer;
  }
  
  .header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
  }
  
  h1{font-size:35px;
  color:rgb(91, 206, 238);
  text-shadow: 0 3px 15px rgba(0,0,0,.6);
  box-shadow: 0 3px 15px rgba(0,0,0,.8);
  border-radius:50px;
  width:75%;
  }
  p{
    text-align:justify;
    color:white;
    text-shadow: 0 3px 15px rgba(0,0,0,.4);
  }
  .container {
    border-radius: 20px;
    /* background-color: rgb(0,0,0); */
    /* background-color: rgba(0,0,0,0.4);  */
    background-color:#063247;
    background-color:rgba(53, 73, 135, 0.721);
    padding: 13px;
    width:80%;
    margin:auto;
    box-shadow: 0 3px 15px rgba(0,0,0,.8);
    margin-top:28px;
  }
  .button {
    padding: 8px 18px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background: #4CAF50;
    border: none;
    border-radius: 30px;
    box-shadow: 0 3px 15px rgba(0,0,0,.8);
    margin-top: 15px;
  }
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .b{
      align-self: center;    
  }
  
  table {
    background-color: #9933cc;
    margin: auto;
    table-layout: fixed;
    width: fit-content;
    max-width: 97%;
  }
  tr:nth-child(odd) {
    background: rgb(134, 120, 241);
  }
  tr:nth-child(even) {
    background: white;
  }
  td {
    padding: 10px;
    /* color:rgb(91, 206, 238); */
    overflow-wrap: break-word;
  }
  .heading {
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    width: 150px !important;
  }
