{% extends "base1.html" %}

{% block title %} About us {% endblock %}

{% block style %} <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename ='css/aboutus.css') }}"> {% endblock %}
{% block content %}
<div class="bg-image"></div>
<div class="bg-text"><br>
    <h1><b>Our Team</b></h1><br>
<div class="row">
  <div class="column">
    <div class="card">
      <div id="profile-container">
       <image id="profileImage" src="{{ url_for('static', filename ='photos/Lokesh_Parab.jpg') }}"/>
      </div>
      <div class="container"><br>
        <h3>Lokesh Parab</h3><br>
        <p>B.E(Comps.)</p><br>
        <p>lokesh45@gmail.com</p><br>
        <p><button class="button">Contact</button></p><br>
      </div>
    </div>
  </div>

  <div class="column1">
    <div class="card">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <div id="profile-container1">
       <image id="profileImage1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVR7gFTPgh9zmEdc0p8UtAcwS3_oPLZUcOkA&usqp=CAU" />
      </div>
      <div class="container"><br>
        <h3>Ganesh Sawant</h3><br>
        <p>B.E(Comps.)</p><br>
        <p>ganeshssawant07@gmail.com</p><br>
        <p><button class="button">Contact</button></p><br>
      </div>
    </div>
  </div>

  <div class="column2">
    <div class="card">
      <div id="profile-container2">
       <image id="profileImage2" src="{{ url_for('static', filename ='photos/Sahil_Gorivale.jpg') }}" />
      </div>
      <div class="container"><br>
        <h3>Sahil Gorivale</h3><br>
        <p>B.E(Comps.)</p><br>
        <p>sahilgorivale333@gmail.com</p><br>
        <p><button class="button">Contact</button></p><br>
      </div>
    </div>
  </div><br>
 
  </div>
<div class="center">
    <h2><b>Our System</b></h2><br>
  <p>Fraud News and detection system is the system that helps users to detect any fraud News and messages in the world.</p><br>
  <p>Based on the reviews the system will detect wheather the news is fraud or not.</p><br>
  <p>So by using this website user will also be able to see the graph report based on positive,neutral and negative reviews.</p><br>
  <p>Also user will be able to detect if the news they want had how much fake.</p><br>
  <p>All the details can be viewed in the users details section.</p><br>
  <p>Finally user can give their feedback regarding the website.</p><br>
  </div>
</div>

{% endblock %}