<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename ='css/base.css') }}">
        
        {% block style %} {% endblock %}
     </head>
     <body>
        <nav>
         <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrIg_Ljv_3NeK0LElowk8huhdgxDvyv3iGsQ&usqp=CAU" height="38px" width="45px">
         <ul>
          <li><a class="active" href="{{ url_for('home') }}"><i class="fa fa-home"></i> Home</a></li>
           <li><a href="{{ url_for('dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
           <li><a href="{{ url_for('detect') }}"><i class="fa fa-search"></i> Detect</a></li>
            <li><a href="{{ url_for('view') }}"><i class="fa fa-database"></i> View</a></li>
             <li><a href="{{ url_for('help') }}"><i class="fa fa-question-circle"></i> Help</a></li>
             <li><a href="{{ url_for('contact') }}"><i class="fa fa-phone-square"></i> Contact</a></li>
             <li>
              <a href="#"><i class="fa fa-user-circle"></i> User
                <i class="fa fa-caret-down"></i>
              </a>
              <ul>
                <!-- <li><a href="{{ url_for('profile') }}">Profile</a></li> -->
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
              </ul>
             </li>
        </ul>
        </nav>

        {% if message %}
        <div id='alert-message'>
          <p>{{ message }}</p>
        <!--	<i class="fas fa-times" onclick='document.getElementById("alert-message").style.display = "none"'></i> -->
        </div>
        {% endif %}

        <!-- Some code here -->
        {% block content %}
        {% endblock %}


    </body>
</html>