{% extends "base2.html" %}
{% block title %}View{% endblock %}
{% block style %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename ='css/view.css') }}">{% endblock %}
{% block content %}
<div class="container">
<center><b><h1>Fakeous</h1></b></center><br>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0">
      <thead>
      <tr>
          <th>id</th>
          <th>Data</th>
          <th>Datatype</th>
          <th>App</th>
          <th>Date</th>
          <th colspan="2">Detect</th>
     </tr>
      </thead>

      {% if records %}
      
      {% for record in records %} 
      <tr>
      <td> {{record[0]}}</td>
      <td> {{record[1]}}</td>
      <td> {{record[3]}}</td>
      <td> {{record[4]}}</td>
      <td> {{record[2].split('.')[0]}}</td>
      <td colspan="2"> {{record[5]}}</td>
    </tr>
      {% endfor %}
      {% endif %}

</table>
  </div><br>
<!-- <form method="post" action="Pdf.php" target="_blank"> -->
   <!-- <center><b><button class="button" name="generate_pdf"><i class="fa fa-check" style='font-size:16px'></i>Generate PDF</button></b></center> -->
   <!-- <center.> -->
<!-- </form> -->
</div>
{% endblock %}